/*
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2011 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: changePin.css
**          Version : 7.2.0
**          Created : 29-AUG-2007
**      Orig Author : David Sellers
**    Last Modified : 19-AUG-2009
** Last Modified By : Mel Pemble
*/
   
.pageTitle
{
   color : #9f175e;
   font-size : larger;
} 
   
#pins
{
   background-color : #c9e5ff;
   border-top : 2px solid #62b3ff;
   border-bottom : 1px solid #62b3ff;
   border-left : 0 none;
   border-right : 0 none;
   padding : 10px 0 0 0;
   margin : 0 0 0 0;
   width : 540px;
}
   
#pins #input 
{
   padding:  5px 0px 0px 10px;
   margin: 0px 0px 0px 0px;
}
   
#pins #input label
{
   COLOR: #000000;
   FONT-SIZE: smaller;
   FONT-WEIGHT: bold;
   padding: 1px;
   padding-right: 5px;
   margin: 0px;
   border: 0px;
   text-align: left;
   white-space: nowrap;
   width: 27%;
   float:left;	
}
   
#pins #input input
{
   text-align: left;
}
   
#pins #buttons 
{
   text-align: center; 
}
   
#pins #buttons input
{
   padding:  0px 0px 0px 0px;
   margin: 10px 10px 10px 10px;
}
   
#myAccountLinks 
{
   padding: 0px 0px 50px 0px;
}
   
#myAccountLinks ul
{
   float: left; 
   list-style: none; 
   margin: 0px 0px 0px -10px; 
   padding: 0px 0px 0px 0px;
}
   
#myAccountLinks li
{
   COLOR: #ffffff;
   FONT-SIZE: 12px;
   FONT-WEIGHT: bold;
   border-top: 1px none #013064;
   border-bottom: 1px none #013064; 
   border-left: 0px none #013064;
   border-right: 0px none #013064; 
   cursor: pointer;
   margin: 0px;
   white-space: nowrap;
   float:left;
   display:block;
}
   
#myAccountLinks a
{
   text-decoration:none;
   display:block;
   background:url("../images/btn_ltblue_bg.gif") no-repeat right top;
   padding: 0px 6px 2px 0px;
   margin: 0px 0px 0px 11px;
   float:left;	
}
   
#myAccountLinks a span
{
   float:left;	 
   background:url("../images/btn_ltblue_left.gif") no-repeat left top;
   padding: 6px 15px 5px; 	
   text-align:center;
   display:block;
}
   
#myAccountLinks a:link, #myAccountLinks a:visited, #myAccountLinks a:hover
{
   COLOR: #FFF;
   TEXT-DECORATION: none;
}
   
#saveBtn,#cancelBtn
{
   color: #ffffff;
   font-size: 12px;
   font-weight: bold;
   background-color: #003061; 
   border-top: 1px solid #fff;
   border-bottom: 1px solid #000; 
   border-left: 1px solid #fff;
   border-right: 1px solid #000; 
   height: 22px; 
   cursor: pointer;
   margin-right: 5px;
   white-space: nowrap;
}
#saveBtn:hover,#cancelBtn:hover
{
   color: #003061;
   background-color: #ffffff;
   border-top: 1px solid #000;
   border-bottom: 1px solid #003061; 
   border-left: 1px solid #000;
   border-right: 1px solid #003061; 
}
   
.accessibilityHeader{
   width : 0;
   float : left;
   color : white;
   position : relative;
   right : 999em;
}

