@charset "utf-8";
/*
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2011 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: frameWork css
**          Version : 8.0.0
**          Created : 20-JUL-2007
**      Orig Author : Mel Pemble
**    Last Modified : 24-MAR-2010
** Last Modified By : Mel Pemble
*/

html, body {
   height: 100%;
}

body{
   width:auto;
   color : #222;
   background : transparent;
   margin : 0;            /* it's good practice to zero the margin and padding of the body element
                             to account for differing browser defaults */
   padding : 0;
   text-align : left;   /* this centers the container in IE 5* browsers. The text is then set to
                             the left aligned default in the #container selector */
   /* default font */
   font-family : "Arial Unicode MS", Verdana, Arial, Helvetica, sans-serif;
   font-size : 1em;
}

select,input{
   font-family : "Arial Unicode MS", Verdana, Arial, Helvetica, sans-serif;
   font-size : .8em;
}
select option {
  padding: 10px;
  height: 2em;
}

.frameWorkUI #pageContainer  {
   min-width : 800px;
   margin : 1px auto;
   text-align : left;
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -75px;
   width:auto;
}

.frameWorkUI #pageHeader {
   /* background : #fff url("../images/img_headerBackground.png") repeat-x left top; */
   border-bottom : 1px solid #426ab3;
   color : black;
   width:auto;
   min-height:80px;
   background-color:#3299b7;
   background-color:#004855;
}
.frameWorkUI #pageHeader #headerRow:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.frameWorkUI #mainContent {
   width:auto;
   padding:30px;

   /* remember that padding is the space inside the div box
      and margin is the space outside the div box */

   overflow: hidden;
   clear:both;
}

.frameWorkUI #pageFooter  {
   border-top : 1px solid #333;
   /* this padding matches the left alignment of the elements
   in the divs that appear above it. */
   padding : 10px 30px 40px 30px;
   background : #ccc;
   background: #004855 url('http://library.fxplus.ac.uk/sites/all/themes/custom/fx_themes/plus_subthemes/library_plus/images/wave.png') repeat-x scroll bottom center;
   color : black;
   clear:both;
   width:auto;
}
.frameWorkUI #pageFooter #libraryLink  {
  background-image: url("http://library.fxplus.ac.uk/sites/all/themes/custom/fx_themes/plus/images/logos.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 60px;
}

.frameWorkUI #pageFooter, .push {
    height: 74px;
    clear:both;
}

.frameWorkUI #pageHeadingTitle {
   font-family : "Arial Unicode MS", Verdana, Arial, Helvetica, sans-serif;
   font-size : 18pt;
   font-weight : normal;
   margin : 1px;
   margin-top:10px;
   padding : 1px;
}

.accessibilityHeader  {
visibility : hidden;
}

/* accent color */
#pageHeadingTitle, .resultsHeaderHeader, .help h2, .jumpBarLabelSelected, .jumpBarMiddle .current, .jumpBarMiddle .totalHits {
   color : #0088cc;
}

/* link colors */
a {
  text-decoration: none;
}
a:link  {
   color : #0088cc;
}

a:visited {
   color : #5aa8cf;
}

a:hover {
   color : #5aa8cf;
   text-decoration : none;
}

a:active {
   color : #0071aa;
   text-decoration : none;
}

.pageHTMLSnippet
{
   clear:both;
   margin-top: 30px;
}

#waitmsg
{
   background-color:#EEEEEE;
   background-image:url("../images/ajax-loader.gif");
   background-position: 4px 5px;
   background-repeat:no-repeat;
   border:1px outset black;
   color:black;
   font-weight:bold;
   margin:0px auto;
   padding:10px 10px 10px 42px;
   position:relative;
   top:50%;
   z-index:1001;
   width: 125px
}

#disablingDiv
{
    /*
    ** Do not display the div on page entry
    */
    display: none;

    /*
    ** Display the layer with index of 1000.
    ** Make sure this is the highest z-index value
    ** used on that page
    */
    z-index:1000;

    /*
    ** cover the entire screen
    */
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align:center;
    padding-top:25%;
    /*
    ** make it white
    ** but transparent
    */
    background-color: white;
    opacity:0.6;
    filter: alpha(opacity=60);
}

#searchLinks input[type=reset],
input[type=reset] {
  background-color: hsl(345, 54%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c64263", endColorstr="#952c46");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c64263), to(#952c46));
  background-image: -moz-linear-gradient(top, #c64263, #952c46);
  background-image: -ms-linear-gradient(top, #c64263, #952c46);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c64263), color-stop(100%, #952c46));
  background-image: -webkit-linear-gradient(top, #c64263, #952c46);
  background-image: -o-linear-gradient(top, #c64263, #952c46);
  background-image: linear-gradient(#c64263, #952c46);
  border-color: #952c46 #952c46 hsl(345, 54%, 34.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}

