/*
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2011 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: searchMySearches
**          Version : 7.2.0
**          Created : 19-NOV-2007
**      Orig Author : David Sellers
**    Last Modified : 19-AUG-2009
** Last Modified By : Mel Pemble
*/

/*  Search History */

/* Search Status Form*/
.searchMySearchesForm {min-height: 20em;}

/* HTML Info */
.searchMySearchesHTML
{
   FONT-SIZE: smaller;
   margin: 0px 0px 15px 0px;
}

/* Search Status Table*/
.searchMySearchesTable
{
   width: 100%; 
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #62b3ff;
   border-left-width: 1px;
   border-left-style: solid;
   border-left-color: #62b3ff;
}

.tableCellHeading, .tableCellHeadingCenter
{
   FONT-SIZE: smaller;
   FONT-WEIGHT: bold;
   padding-right: 3px; 
   padding-left: 3px; 
   padding-top: 6px; 
   padding-bottom: 6px; 
   background-color: #dfdfdf; 
   border-bottom: 1px solid #62b3ff; 
   border-right: 1px solid #62b3ff;
}

.rowHighlight {background: #EBEBEB;}

.tableCell, .tableCellCenter
{
   FONT-SIZE: smaller;
   padding-right: 3px; 
   padding-left: 3px; 
   padding-top: 6px; 
   padding-bottom: 6px; 
   border-bottom: 1px solid #62b3ff; 
   border-right: 1px solid #62b3ff;
}

.tableCellCenter, .tableCellHeadingCenter {text-align: center;}

.btnLeft
{

   float:left;	
   height: 18px; 
   width: 4px;
}
   
.btnRight
{
   background:url("../images/btn_yellow_right.gif") no-repeat left top;
   float:left;	
   height: 18px;    
   width: 4px;
}

.btnCenter
{
    background:#fdfdfd none repeat scroll 0 0;
    border-color:black;
    border-style:solid none;
    border-width:1px medium;
    cursor:pointer;
    float:left;
    font-size:12px;
    height:18px;
    padding-bottom:2px;
    padding-left:5px;
    padding-right:5px;
    white-space:nowrap;
}

.CombineSearchesButton
{
    float:left;
    margin-top:10px;
    width:auto;
}

.mySearchesSave 
{
   text-align: right;
   padding: 20px 0px 20px 0px;
}

