/*
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2011 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: searchPages css
**          Version : 7.2.0
**          Created : 29-OCT-2007
**      Orig Author : Mel Pemble
**    Last Modified : 17-SEP-2009
** Last Modified By : Mel Pemble
*/

/*
   This is the main stylesheet for all the search pages 
   you may override any syle that is defined here in the
   page individual stylesheet
*/

p.noHitsError
{
    background:#FFFF90 none repeat scroll 0 50%;
    border:0.1em solid red;
    color:#FF0000;
    font-size:0.9em;
    font-weight:bold;
    padding:0.3em;
    text-align:center;
    width:300px; 
}

#searchForm
{
   background: #dfdfdf none repeat scroll 0 0; 
   border: 1px solid #000;
   clear: left; 
   margin: 0; 
   padding: 10px;
   color: inherit;
   -moz-border-radius-bottomleft:10px;
   -moz-border-radius-bottomright:10px;
   -moz-border-radius-topright:10px;
}

#searchForm form
{
    margin:0px;
    padding:0px;
}

#searchForm label
{
   font-size: 12px;
   font-weight: bold;
   margin: 3px 0 0;
}

/* Search Navigation*/
#searchNav
{
   margin: 0px; 
   padding: 0px;
   float: left;
}
#searchHistoryLink 
{
   float: right;
   text-align: right; 
   margin: 1px 5px 0px 0px;
}

#searchHistoryLink a
{
   background:url("../images/icon_srchhistory.gif") no-repeat left top;
   padding:0px 0px 10px 20px ;
   font-size: smaller;
   color: black;
}

#searchNav ul
{
   float: left; 
   list-style: none; 
   margin: 0px; 
   padding: 0px;
}

#searchNav li
{
   font-size: 12px;
   font-weight: bold;
   float:left;
   display:block;
   margin: 0px 0px -1px 0px;
}
#searchNav li#off
{
  font-weight: normal; 
}

#searchNav a
{
   color: #fff;
   float:left;
   background-color: #3299b7;
   padding:0px 2px 0px 0px;
   margin: 0px 0px 0px 8px;                 
   text-decoration:none;
   display:block;
   border: 1px solid #3299b7;
   border-bottom: 1px solid #000;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

#searchNav a span
{
   float:left;
   background-color: #3299b7;
   color:white;
   padding: 7px 20px 5px;  
   text-align:center;
   display:block;
}

#searchNav li.on a, #searchNav a:hover
{
   color: #333;
   border-bottom: 1px solid #dfdfdf;
   cursor: pointer;
}

#searchNav a:hover
{
   background-color: #3299b7;
   border-bottom: 1px solid #000;
   color:blue;
}

#searchNav a:hover span
{
   /* background:url("../images/search_nav_left_on.gif") no-repeat left top;
   color:blue; */
   background-color: #dfdfdf;
}

#searchNav li.on a
{
   /* background:url("../images/search_nav_right_on.gif") no-repeat right top;
   color:black;*/
   background-color: #dfdfdf;
}

#searchNav li.on a span
{
   /* background:url("../images/search_nav_left_on.gif") no-repeat left top;
   color:black; */
   background-color: #dfdfdf;
   color:#222;
}

#searchInputs
{
   padding: 0px 0px 10px 7px;
}

#searchInputs label
{
   padding: 1px;
   margin: 2px;
   white-space: nowrap;
   width: 1%;
   font-size: 1em;
}

#quickLimits 
{
   padding: 0px 0px 10px 7px;
}

#quickLimits label
{
   padding: 1px;
   padding-right: 5px;
   margin: 2px;
   border: 0px;
   white-space: nowrap;
   width: 1%;
}

#searchRecs
{ 
   float:left;
   margin: 0px 0px 0px 7px;
   padding:0px;
}

#searchRecs label
{
   padding: 1px;
   margin: 2px;
   white-space: nowrap;
   width: 1%;
}

#searchLinks
{ 
   clear: both;
   margin:0px 20px 20px 0px;
   padding: 16px 0px 0px 0px;
}

#searchLinks input
{  
   margin:0px 0px 0px 10px ;

    background-color: hsl(195, 60%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
  background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
  background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
  background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
  background-image: -o-linear-gradient(top, #2d95b7, #23748e);
  background-image: linear-gradient(#2d95b7, #23748e);
  border-color: #23748e #23748e hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;

  min-height: 40px;
  min-width: 70px;
  border-radius: 5px;
  border:0;

}
#searchLinks input:hover
{  
  margin:0px 0px 0px 10px ;
  background-image: none; 
  background-color: #dfdfdf;

}

#databaseInfo 
{
   padding: 0px 0px 20px 0px;
}

#databaseInfo label 
{
   font-size: smaller;
   font-weight: bold;
   padding: 1px;
   padding-right: 5px;
   margin: 2px;
   border: 0px;
   white-space: nowrap;
}

#databaseInfo span 
{
   font-size: smaller;
   padding: 1px;
   margin: 0px;
   border: 0px;
}

#databaseInfo a
{
   padding-left: 5px;
}


