/*********************** Timeout Message ***********************/
#tcc_timeout_container {

	color: white;
	position:absolute;
	top:200px;
	left:200px;
	padding:30px;
	display:none;
	width:300px;
	border-radius:10px;
	background-color:#111;
	font-size: 1.2em;
	opacity: .80; /* Standard */
	filter: alpha(opacity=80); /* MSIE */
	z-index:5;
}

#tcc_timeout_title {
	color: white;
	text-align:center;
	cursor:move;
}

#tcc_timeout_message{
	text-align:center;
}

#tcc_timeout_page_refresh {
	float:left;
}

#tcc_timeout_session_refresh {
	float:right;
}
