/*
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2011 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: commonForm.css
**          Version : 7.2.0
**          Created : 29-OCT-2007
**      Orig Author : Scott Morgan
**    Last Modified : 29-SEP-2009
** Last Modified By : Mel Pemble
*/

.formBackround
{
   background-color: #c9e5ff; 
   border-top: 2px solid #62b3ff;
   border-bottom: 1px solid #62b3ff; 
   border-left: 0px none;
   border-right: 0px none; 
   padding: 0px;
   margin: 0px;
   min-width: 200px;
   width: 90%;
   margin-top:5px;
   padding-top:15px;
   padding-bottom:10px;
}

.formLabel
{
   padding: 0px;
   left: 15px;
   text-indent: 10px;
}

.formTextPair
{
   padding-bottom:6px;
}

.formTextPair label
{
   padding: 0px;
   left: 30px;
   text-indent: 20px;
   font-weight: bold;
   position:absolute;
   display:inline;
}

.formTextPair input, .formTextPair select
{
   position:relative;
   left:140px;
   width: 60%;
   display:inline;
}

.formTextPair textarea
{
   position:relative;
   height: 120px;
   width: 60%;
   left:140px;
   display:inline;
}

.formRequired
{
   color: red
}

.formButtons
{
  text-align: center;
}

.btn
{
   color: #ffffff;
   font-size: 12px;
   font-weight: bold;
   background-color: #003061; 
   border-top: 1px solid #fff;
   border-bottom: 1px solid #000; 
   border-left: 1px solid #fff;
   border-right: 1px solid #000; 
   height: 22px; 
   cursor: pointer;
   margin-right: 5px;
   white-space: nowrap;
}

.formVerticalSpacer 
{
   height: 6px;
}

.formHorizontalSpacer
{
   width: 10px;
   display:inline;
}

.selectedRecords
{
	text-indent: 20px;
clear:both;
}

.bibTitle
{
   font-size: 14px;
   font-weight: bold;
}

.bibDetail
{
   font-size: 12px;
   clear:both;
   padding:10px;
}

.bibDetail div
{
   clear:both;
   padding:2px;
}

.bibFieldLabel
{
   float: left;
   width:150px;
   text-align:right;
   font-weight:bold;
}
.bibFieldData
{
  width:75%;
  float: left;
  padding-left:5px;
}

