/*
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2011 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: searchBasic css
**          Version : 7.2.0
**          Created : 29-OCT-2007
**      Orig Author : Mel Pemble
**    Last Modified : 21-AUG-2009
** Last Modified By : Mel Pemble
*/

/* Subject Search */

#searchParams
{
   padding-top: 10px;
}

#subjectSearch
{
   text-align: left;
   font-size: smaller;
   font-weight: bold;
   padding: 1px 22px;
   margin: 0px;
   border: 0px;
   text-align: left;
   white-space: nowrap;
}

#subjectSearch label
{
   padding-right: 15px;
}

#instruction
{
   font-size: smaller;
   font-weight: normal;
   text-align: left;
   padding: 4px 12px 4px;
}

