@charset "utf-8";
/*
**          Product : Syndetics css
**      Orig Author : Steve Pellow
**    Last Modified : 17 May 2011
*/

.syn_title {
  padding: 5px; 
  /*background-color:#dfdfdf;*/
  background-color:#CCC;
  text-align: center; 
  color: #fff; 
  font-weight: bold;
} 

.syn_body {
  padding: 5px;
  text-align: left;
}

.syn_body a:link,
.syn_body a:visited,
.syn_body a:active {
  font-weight: bold; 
  color: #336699; 
  text-decoration: none
}

.syn_body a:hover {
  font-weight: bold; 
  color: #336699; 
  text-decoration: underline;
}

.syn_review_date {
  font-size: 80%;
}

.syn_copyright {
  font-size: 80%;
}

.syn_list ul {
  list-style: none;
  padding: 0px 0px 5px 5px;
}

.syn_list_item {
  clear:both;
  position:relative;
  padding: 5px 0px;
}

.syn_toc_item_title {
  float:left;
  overflow:hidden;
  padding-left:55px;
}

.syn_toc_label {
  float:left;
  text-align:left;
  /*overflow:hidden;*/
  /* width:50px; */
   width:100px;
}

.syn_toc_item_page_num {
  float:right;
  overflow:hidden;
  font-weight: bold;
  font-style: italic;
}

/* Title profile */
.syn_fp {
  padding: 5px 0px;
}
.syn_fp_title {
  font-weight: bold;
  font-size:110%;
}
/*
span.syn_fp_tag {
  display:block;
  padding-left: 20px;
}
.syn_fp_tag_seperator {
  display:none;
}
*/
.syn_fp_character,
.syn_fp_biographee {
  padding: 10px 0px 5px 10px;
}
.syn_fp_character span.syn_fp_tag_seperator, 
.syn_fp_biographee span.syn_fp_tag_seperator {
  display:inline;
}
.syn_fp_characters span.syn_fp_tag 
.syn_fp_biographees span.syn_fp_tag {
  display:inline;
  padding-left: 2px;
}
span.syn_fp_tag_title {
  font-style:italic;
}

/* Video Profile */
.syn_av {
  padding: 5px 0px;
}
.syn_av_title {
  font-weight: bold;
  font-size:110%;
}
span.syn_av_tag_title {
  font-style:italic;
}
#syn_avprofile .syn_copyright {
  padding-top: 5px;
}
/*
span.syn_av_tag {
  display:block;
  padding-left: 20px;
}
.syn_av_tag_seperator {
  display:none;
}
.syn_av_meta span.syn_av_tag {
  display:inline;
  padding-left: 0px;
}
*/

/* Lightbox */
#syn_lb {
  border:2px solid #222222;
}
#syn_lb .syn_title {
  background-color:#E6FAE5;
  color:#000;
  text-align:left;
}
#syn_lb_head {
  background-color:#0099FF;

}
#syn_lb_title {
  color:#FFFFFF;
  padding-left:7px;
  font-weight:bold;
}

#syn_lb_left {
  background:#E6FAE5 none repeat scroll 0 0;
}

#syn_lb_right a:link,
#syn_lb_right a:visited,
#syn_lb_right a:active {
  font-weight: bold; 
  color: #336699; 
  text-decoration: none
}
#syn_lb_right a:hover {
  font-weight: bold; 
  color: #336699; 
  text-decoration: underline;
}
.syn_lb_search_tag {
  font-weight:bold;
}
#syn_lb_search_result_header {
  font-size:80%;
}
.syn_lb_search_result_start,
.syn_lb_search_result_end,
.syn_lb_search_result_total {
  font-weight:bold;
}
.syn_lb_search_result_item_summary {
  font-size:80%;
}
